name: Deploy

on: push

jobs:
  build_job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}
      
      - name: Create file
        run: ssh -o StrinctHostKeyChecking=no azureuser@4.227.181.213 -y touch hola.txt
