name: Deploy

on: workflow_dispatch

jobs:
  build_job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup
        uses: actions/setup-node@v5
        with:
          node-version: 18

      - name: Instalar dependencias
        run: npm install

      - name: Run test
        run: npm run test

      - name: Build page
        run: npm run build

      # - name: Deploy to Azure
      #   uses: Azure/static-web-apps-deploy@v1
      #   with:
      #     azure_static_web_apps_api_token: ${{ secrets.AZURE_TOKEN }}
      #     app_location: "public" # Ubicacion de todos los recursos a subir en el servidor
      #     deployment_action: "upload"