name: Deploy

on: push

jobs:
  first_job:
    runs-on: ubuntu-latest

    steps:
      - name: Imprimir secreto
        run: echo "Valor del secreto es ${{ secrets.TOKEN_SECRET }}"

      - name: Imprimir variable de entorno
        run: echo "Valor de la variable es ${{ vars.NAME }}"
