name: Deploy VM

on: 
  push:
    branches:
      - main
      - stage

jobs:
  build_job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}
      
      # - name: Create file
      #   run: ssh -o StrictHostKeyChecking=no azureuser@4.227.181.213 touch hola.txt

      # - name: Deploy to server
      #   run: bash deploy.sh

      - name: Deploy to stage server
        if: ${{ github.ref == 'refs/heads/stage' }}
        run: bash deploy.sh stage

      - name: Deploy to prod server
        if: ${{ github.ref == 'refs/heads/main' }}
        run: bash deploy.sh main
